@import "tailwindcss";

@theme {

  --font-poppins: Poppins, sans-serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-lightDark: #1A1826;
  --color-blueNight: #353b48;
  --color-electroMagnetic: #2f3640;

  --color-primary: #192a56;
  --color-secondary: #4a69bd;
  --color-livid: #6a89cc;

  --color-light-gray: #D3D3D3;
  --color-silver: #C0C0C0;

  --color-error: #D30F0F;
  --color-error-hover: #A90000;
  --color-error-hover-light: #F83F2A;

  --color-warning: #FFCA36;
  --color-warning-hover: #F8B112;

  --color-success: #006B60;
  --color-success-light: #12B76A;

  --color-diamond: #1e3799;
  --color-platinum: #01a3a4;
  --color-bronze: #AD8A56;

  --breakpoint-*: initial;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1650px;
  --breakpoint-3xl: 1920px;
}

@layer utilities {
  .flex_center {
    @apply flex justify-center items-center;
  }

  .transition_common {
    @apply transition ease-in-out duration-300;
  }

  .breadcrumb_layout {
    @apply shadow-md rounded-md;
  }

  .card_layout {
    @apply shadow-md rounded-md;
  }

  .bg_gradient_primary {
    background: linear-gradient(90deg, #192a56 0%, #4a69bd 100%);
  }

  .bg_gradient_darkPrimary {
    background: linear-gradient(to right, #1a1826, #1e1f2d, #232733, #292e3a, #2f3640);
  }
}